.SearchCard-Image {
    width: 95%;
    height: 65%;
    object-fit: cover;
    border-radius: 3px;
}
.SearchCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.SearchCard:hover {
    box-shadow: 0 0 11px rgb(0, 148, 255);
}

.SearchCardSelect {
    box-shadow: 0 0 11px rgb(0, 13, 255);
}

.SearchCardHistory {
    box-shadow: 0 0 11px rgb(255, 216, 0);
}