.Reserve-box {
    width: 350px;
    border: 1px solid rgba(228, 228, 228, 1);
    max-height: 400px;
    padding: 20px;
}

.fixed {
    width: 350px;
    border: 1px solid rgba(228, 228, 228, 1);
    max-height: 400px;
    padding: 20px;
    position: fixed;
    top: 24px;
}